// @todo Go through components, change breakpoint mixins to vars in here, then
// see about importing mixin file here only instead of nuxt.config:vite

:root {
  --color-black: #000;
  --color-grey-dark: #38383b;
  --color-grey-medium: #a8a6a1;
  --color-grey-light: #dfe0e1;
  --color-white: #fff;
  --font-family-copy: 'Crimson Text', serif;
  --font-family-heading: 'Antic Didone', serif;
  --font-size-accent: 13px;
  --font-size-copy: 18px;
  --font-size-dual: 16px;
  --font-size-h1: 45px;
  --font-size-h2: 34px;
  --font-size-h3: 37px;
  --font-size-h4: 28px;
  --header-background: var(--color-white);
  --header-foreground: var(--color-black);
  --header-height: 90px;
  --header-top: 0;
  --line-position: 36%;
  --line-sides: 12%;
  --line-tx: rotate(0);
  --line-tx-bottom: var(--line-tx);
  --line-tx-top: var(--line-tx);
  --line-width: 2px;
  --menu-layer: -1;
  --menu-opacity: 0;
  --menu-padding-top: 25vh;
  --tx-duration: 195ms;
  --tx-easing: ease-in-out;

  @include bp(768px) {
    --font-size-accent: 13px;
    --font-size-copy: 18px;
    --font-size-h1: 45px;
    --font-size-h2: 34px;
    --font-size-h3: 37px;
    --font-size-h4: 28px;
    --header-height: 182px;
    --menu-padding-top: 15vh;
  }

  @include bp(1024px) {
    --header-height: 124px;
    --menu-layer: 1;
  }

  @include bp(1295px) {
    --font-size-accent: 13px;
    --font-size-copy: 18px;
    --font-size-h1: 45px;
    --font-size-h2: 34px;
    --font-size-h3: 37px;
    --font-size-h4: 28px;
  }

  &.menu-open {
    --header-background: var(--color-grey-dark);
    --header-foreground: var(--color-white);
    --line-position: calc(50% - 1px);
    --line-sides: 20%;
    --line-tx-bottom: rotate(45deg);
    --line-tx-top: rotate(-45deg);
    --line-width: 1px;
    --menu-layer: 1;
    --menu-opacity: 1;

    height: 100%;
    overflow: hidden;
  }

  &.scrolling {
    --header-top: -91px;

    @include bp(768px) {
      --header-top: -183px;
    }

    @include bp(1024px) {
      --header-top: -125px;
    }
  }
}

* {
  &,
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body {
  background-color: var(--color-grey-dark);
  font-family: var(--font-family-copy);
  font-size: var(--font-size-copy);
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading);
  font-weight: 400;
}

@each $heading in (h1, h2, h3, h4, h5, h6) {
  #{$heading},
  .#{$heading} {
    font-size: var(--font-size-#{$heading});
  }
}

a {
  &:active,
  &:link,
  &:visited {
    color: var(--color-grey-medium);
  }
}

button,
input,
textarea {
  appearance: none;
  font-family: inherit;
  font-size: inherit;
}

section,
footer {
  margin: auto;
  max-width: 1295px;
}

.sr-only {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.accent {
  font-size: var(--font-size-accent);
}
